
<div class="image-container">
  <img src="./assets/h7.jpg" alt="your-image">
  <div class="image-text">
    <h2 style="font-size: 50px; font-family: Georgia, 'Times New Roman', Times, serif; text-decoration: solid;">DELICIOUS</h2>
    <p style="font-size: 30px; font-family: cursive;font-style: italic;">"May the fork be with you"</p>
    <button type="button" class="btn btn-dark btn-rounded text-md-left" routerLink="/Restaurant">View Restaurant</button>
  </div>
</div>
<BR>


  
  <div class="row">
    <div class="col-md-6">
        <div class="image-border p-4">
          <img src="./assets/pizza.jpg" class="img-fluid rounded-5 " >
        </div>
      </div>
    <div class="col-md-6 text-md-left" style="margin-top: 50px;">
      <h2>Our Story</h2>
      <br>
      <p>Delicious is an Indian restaurant aggregator and food delivery company. More than 1,000 Indian cities have food delivery options from partner restaurants through the app. 
        This app has information on restaurants, menus, and user reviews.</p>
      <h6 style="font-style:italic;">"The best way to win someone's heart is to buy them their favorite food"</h6>
      <button type="button" class="btn btn-dark btn-rounded" routerLink="/Restaurant">View Restaurant</button>
    </div>
  </div>
  

  <BR><BR>

<h2 style="font-size: 30px; text-align: center;"> CUSINES</h2>

<div class="container">
  <div class="card">
  <mat-card class="example-card">
    <img mat-card-image src="./assets/indian2.jpg" alt="Image">
    <mat-card-content>
      <h3>Indian Cusines</h3>
      <p>Curries are an integral part of Indian cuisine and at the base of these delicious meals. It is one of India's most popular and well-known dishes. </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="card">
  <mat-card class="example-card">
    <img mat-card-image src="./assets/italian.jpg" alt="Image">
    <mat-card-content>
      <h3>Italian Cusines</h3>
      <p>The Mediterranean diet forms the basis of Italian cuisine, rich in pasta, fish, fruits and vegetables with chesse and wine.</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="card">
  <mat-card class="example-card">
    <img mat-card-image src="./assets/chinese.jpg" alt="Image">
    <mat-card-content>
      <h3>Chinese Cusines</h3>
      <p>A typical Chinese's meal are made of seasonal vegetables,seafood or bite-size portion of meat or poultry with sidedishes.</p>
    </mat-card-content>
  </mat-card>
</div>
</div>




<footer class="page-footer font-small  pt-4 " style="background-color: #F8F4EA;">

 
  <div class="container-fluid text-center text-md-left">

    <div class="row">

      
      <div class="col-md-6 mt-md-0 mt-3">
        <img class="footerimage" src="./assets/logo.jpg">
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3" >

        <h5 class="text-uppercase">DELICIOUS</h5>

        <ul class="list-unstyled" style="text-decoration: none;">
          <li>
            <P style="font-size: 15px;font-style: italic;">About Delicious</P>
          </li>
          <li>
            <P style="font-size: 15px;font-style: italic;">Blog</P>
          </li>
          <li>
            <P style="font-size: 15px;font-style: italic;">Work with us</P>
          </li>
          <li>
            <P style="font-size: 15px;font-style: italic;">Contact Us</P>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">Contact us</h5>

        <ul class="list-unstyled">
          <li>
           <p style="font-size: 15px;font-style: italic;"> delicious@gmail.com</p>
          </li>
          <li>
            <p style="font-size: 15px;font-style: italic;">+91-8902567834</p>
          </li>
          <li>
           <p style="font-size: 15px;font-style: italic;">Guindy, Chennai</p>
          </li>
        </ul>

      </div>
    </div>
    
  </div>
  
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> Delicious.com</a>
  </div>

</footer>





<router-outlet></router-outlet>